{
    "root": true,
    "env": {
        "node": true,
        "commonjs": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "plugin:jest/recommended"
    ],
    "plugins": ["@typescript-eslint", "jest"],
    "rules": {
        "@typescript-eslint/member-ordering": "error",
        "@typescript-eslint/interface-name-prefix": ["error", { "prefixWithI": "always" }],
        "max-lines-per-function": ["error", { "max": 40 }],
        "import/prefer-default-export": 0,
        "import/extensions": 0,
        "max-len": ["error", { "code": 120 }],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "lines-between-class-members": 0,
        "no-bitwise": 0,
        "no-plusplus": 0,
        "no-underscore-dangle": ["error", { "allowAfterThis": true }],
        "padding-line-between-statements": [
            "error",
            { "blankLine": "always", "prev": "*", "next": "return" },
            { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
            { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
            { "blankLine": "always", "prev": "*", "next": "if" },
            { "blankLine": "any", "prev": "if", "next": "if" }
        ]
    },
    "overrides": [
        {
            "files": "*.test.ts",
            "rules": {
                "max-lines-per-function": ["error", { "max": 200 }]
            }
        }
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".ts", ".d.ts"]
            }
        }
    }
}
