*.log
*.pid
*.pid.lock
*.seed
*.tgz
.editorconfig
.env
.eslintcache
.eslintignore
.eslintrc
.prettierignore
.prettierrc
.yarn-integrity
/.husky/
/.vscode/
/jest.modules.json
/typedoc.json
babel.config.cjs
coverage
jest.config.cjs
lib
logs
node_modules/
pids
tsconfig.build.json
tsconfig.json
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*