*.log
*.pid
*.pid.lock
*.seed
*.tgz
.env
.yarn-integrity
/.editorconfig
/.eslintcache
/.eslintignore
/.eslintrc
/.figma.yml
/.husky/
/.prettierignore
/.prettierrc
/.vscode/
/jest.config.js
/tsconfig.json
coverage
lib
logs
node_modules/
pids
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*