*.log
*.pid
*.pid.lock
*.seed
*.tgz
.editorconfig
.env
.eslintcache
.eslintignore
.eslintrc
.prettierignore
.prettierrc
.yarn-integrity
/.husky/
/.vscode/
coverage
jest.config.js
lib
logs
node_modules/
pids
tsconfig.json
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*