**/__mocks__/**
**/__tests__/**
.changelogrc.yml
.config
.editorconfig
.env
.eslintignore
.eslintrc
.ghinfo
.gitattributes
.github
.husky
.prettierignore
.prettierrc
.vscode
CODE_OF_CONDUCT.md
babel.config.js
codecov.yml
codegen.yml
coverage/
docs/
example/
jest.config.js
jest.modules.json
media/
node_modules/
src/
tsconfig.json
typedoc.json