# Src folders
test/
coverage/
media/
example/
src/

# Dependency directories
node_modules/

# Configs
.vscode
.env
.editorconfig
.gitattributes
.eslintignore
.eslintrc
.huskyrc
.prettierignore
.prettierrc
.travis.yml
.yarnclean
jest.config.js
tsconfig.json
yarn.lock

# Docs
README.md
CODE_OF_CONDUCT.md

# Logs
yarn-error.log
