# !ignorefile-merge block-open @tagproject/ts-package-shared-config
# ---------------------------------------------------------------
# This block generated automatically
# @see https://www.npmjs.com/package/ignorefile-merge
# ---------------------------------------------------------------

**/__benchmark__/**
**/__mocks__/**
**/__tests__/**
.changelogrc.yml
.config
.env
.eslintignore
.eslintrc
.ghinfo
.gitattributes
.github
.husky
CODE_OF_CONDUCT.md
codecov.yml
codegen.yml
coverage/
docs/
example/
jest.config.js
media/
node_modules/
src/
tsconfig.json
typings/

# !ignorefile-merge block-close @tagproject/ts-package-shared-config

# !ignorefile-merge block-open @tagproject/docs-shared-config
# ---------------------------------------------------------------
# This block generated automatically
# @see https://www.npmjs.com/package/ignorefile-merge
# ---------------------------------------------------------------

# .env
# CODE_OF_CONDUCT.md
SECURITY.md
# docs/
# example/
# media/
# node_modules/

# !ignorefile-merge block-close @tagproject/docs-shared-config

# !ignorefile-merge block-open @tagproject/vscode-shared-config
# ---------------------------------------------------------------
# This block generated automatically
# @see https://www.npmjs.com/package/ignorefile-merge
# ---------------------------------------------------------------

.editorconfig
.prettierignore
.prettierrc
.vscode

# !ignorefile-merge block-close @tagproject/vscode-shared-config
